<template name="_header">
  <nav>
    <div class="nav-wrapper blue lighten-2">
      <div class="container">
        <a class="brand-logo" href="{{pathFor 'dashboard'}}"><i class="mdi-notification-event-note"></i> Date Calculator</a>

        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-more-vert"></i></a>
      </div>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li class="bold {{ isActiveRoute regex='dashboard' }}"><a href="{{ pathFor 'dashboard' }}" title="Dashboard"><i class="mdi-action-dashboard"></i> History</a></li>
  </ul>

</template>
