<template name="dashboard">
  <div class="template-dashboard">
    <a class="btn-floating btn-large waves-effect waves-light red lighten-2 right" href="{{pathFor 'new'}}"><i class="mdi-content-add"></i></a>

    <h5>History</h5>

    <ul class="collection">
      {{#each dates}}
        <li class="collection-item avatar">
          <i class="mdi-action-done circle red lighten-2"></i>
          <span class="title">Total {{ type }}: {{ substractDate date1 tz1 date2 tz2 type}}</span>
          <p class="truncate">
          <strong>From:</strong> {{ formatDate date1 }} -  <strong>To:</strong> {{ formatDate date2 }}
          </p>
          <span class="secondary-content"><i class="mdi-action-grade"></i>   {{ when createdAt }}</span>
        </li>
      {{/each}}
    </ul>

  </div>
</template>
